/* Typography */
body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Layout */
main {
    max-width: 500px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 235px 200px 200px;
}

@media (min-width: 500px) {
    main {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 80px 235px 200px;
        padding: 10px;
        box-shadow: 0px 0px 5px rgb(187,187,187);
        border-radius: 5px;
    }

    .search-bar {
        grid-column: 1/3;
    }

    .current-weather {
        grid-column: 1/3;
    }
}

/* Search Bar */
.search-bar {
    background-color: rgb(73,144,226);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

@media (min-width: 500px) {
    .search-bar {
        border-radius: 5px;
    }
}

.search-bar__title {
    margin: 10px 0px 0px 0px;
    border-bottom: 1px solid white;
    padding-bottom: 4px;
    font-size: 0.7em;
}

.search-bar__search {
    width: 90%;
}

.search-bar__magnifying-glass {
    position: absolute;
    top: 35px;
}

.search-bar__input {
    background: rgb(0,0,0,0);
    color: white;
    border: none;
    outline: none;
    font-size: 36px;
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 80%;
}

.search-bar__input::placeholder {
    color: white;
}

@media (min-width: 500px) {
    .search-bar__magnifying-glass {
        top: 45px;
    }
}

/* Current Weather */
.current-weather {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.current-weather__info-and-temp-scale {
    margin: 10px 0px 0px 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25px 25px;
}

.current-weather__high-low-bar {
    width: 100%;
    margin: 0px 4px;
}
.current-weather__high {
    float: left;
    width: 100px;
    text-align: right;
}

.current-weather__low {
    float: right;
    width: 100px;
}

.current-weather__scale {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 130px;
}

.current-weather__scale-switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 20px;
}

.current-weather__scale-switch input {display:none;}

.current-weather__scale-slider {
    position: absolute;
    cursor: pointer;
    border-radius: 20px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.current-weather__scale-slider:before {
    position: absolute;
    content: "";
    border-radius: 20px;
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .current-weather__scale-slider {
    background-color: rgb(73,144,226);
}

input:checked + .current-weather__scale-slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

@media (min-width: 500px) {
    .current-weather__info-and-temp-scale {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 50px;
    }

    .current-weather__scale {
        text-align: right;
        grid-column: 3/4;
        display: inline-block;
    }
}


.current-weather__temperature {
    font-size: 100px;
}

.current-weather_high-low {
    color: rgb(187,187,187);
    margin: auto 0px 20px 0px;
}

/* Forecast */
.forecast {
    border-top: 1px solid rgb(187,187,187);
}

.forecast__hourly-daily-toggle {
    margin: 20px auto 0px auto;
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.forecast__carousel {
    margin: 30px auto 0px auto;
    width: 87%;
    display: flex;
    justify-content: space-around;
}

@media (min-width: 500px) {
    .forecast {
        margin: 0 0 20px 20px;
        border-right: 1px solid rgb(187,187,187);
    }

    .forecast__hourly-daily-toggle {
        margin: 20px 0px 0px 40px;
    }

    .forecast__carousel {
        margin: 30px 0px 0px 0px;
        display: flex;
        justify-content: space-around;
    }
}


/* Weather Stats */
.weather-stats {
    border-top: 1px solid rgb(187,187,187);
}

@media (min-width: 500px) {
    .weather-stats {
        margin: 0 20px 20px 0;
    }
}

.weather-stats__stats {
    margin: 30px 0px 0px 0px;
}

.weather-stats__definition {
    float: left;
    clear: left;
    width: 45%;
    text-align: right;
    color: rgb(187,187,187)
}

.weather-stats__description {
    margin: 0px 0px 10px 10px;
    float: left;
    width: 40%;
}